@font-face {
	font-family: "Damian";
	src: url("../fonts/Damian.ttf") format("truetype");
}

@font-face {
	font-family: "TitilliumWeb";
  src: url("../fonts/TitilliumWeb.ttf") format("truetype");
}

@font-face {
	font-family: "TitilliumWebLight";
  src: url("../fonts/TitilliumWebLight.ttf") format("truetype");
}

@font-face {
	font-family: "TitilliumWebSemibold";
  src: url("../fonts/TitilliumWebSemibold.ttf") format("truetype");
}

@font-face {
	font-family: "TitilliumWebItalic";
  src: url("../fonts/TitilliumWebItalic.ttf") format("truetype");
}

@font-face {
	font-family: "TitilliumWebBold";
  src: url("../fonts/TitilliumWebBold.ttf") format("truetype");
  font-style: italic;
}

body {
	overflow-x: hidden;
}

img {
	margin: 0 auto;
	display: block;
}

/* TEXT COLORS */
.white {
	color: #f7f3ea;
}

.black {
	color: #27283d;
}

.blue {
	color: #48c1e9;
}

.peach {
	color: #ffdd99;
}

/* BG COLORS */
.bg-purple {
	background-color: #87509c;
}

.bg-teal {
	background-color: #17c2a4;
}

.bg-silver-light {
	background-color: #e7f1f8;
}

.bg-white {
	background-color: #fff;
}

.bg-peach {
	background-color: #ffdd99;
}

.bg-pink {
	background-color: #d74680;
}

.bg-blue {
	background-color: #3c5499;
}

.bg-darkblue {
	background-color: #344b8e;
}

/* TEXT DECORATION */
h1 {
	text-align: center;
	font-family: "TitilliumWebBold", regular;
	font-size: 42px;
	color: #f7f3ea;
}

h1.teal::after {
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	margin: 20px auto;
	background-color: #14a58c;
}

h1.silver-light::after {
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	margin: 20px auto;
	background-color: #c8d9e5;
}

h1.white::after {
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	margin: 20px auto;
	background-color: #dfe8ed;
}

h1.orange::after {
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	margin: 20px auto;
	background-color: #e5c37f;
}

h1.pink::after {
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	margin: 20px auto;
	background-color: #b73c6d;
}

h1.blue-stripe::after {
	content: "";
	display: block;
	width: 100px;
	height: 4px;
	margin: 20px auto;
	background-color: #273a71;
}

h3 {
	text-transform: uppercase;
	font-family: "TitilliumWebBold", regular;
	font-size: 24px;
	text-align: center;
}

h4 {
	text-transform: uppercase;
	font-family: "TitilliumWeb", regular;
	font-size: 18px;
	text-align: center;
}

.capture {
	text-transform: uppercase;
}

p.capture {
	text-align: center;
	text-transform: none;
	font-family: "TitilliumWeb";
	font-size: 18px;
}

.services {
	text-align: center;
	font-family: "TitilliumWebLight";
	font-size: 16px;
}

.social-link {
	color: #bdd1df;
	-webkit-transition: color 0.4s linear;
	-o-transition: color 0.4s linear;
	transition: color 0.4s linear;
}

.social-link:hover {
	color: #007bff;
}

.nav-link {
	font-family: "TitilliumWeb", regular;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 5px;
	color: #f7f3ea;
	-webkit-transition: background-color 0.4s linear;
	-o-transition: background-color 0.4s linear;
	transition: background-color 0.4s linear;
}

.nav-link:last-of-type {
	padding-right: 0;
}

.nav-link:hover {
	background-color: #643a79;
}

.comment {
	font-family: "TitilliumWebItalic";
	font-size: 21px;
	text-align: left;
}

.name {
	text-align: left;
}

.footer-links {
	padding: 10px 25px;
	font-family: "TitilliumWebSemibold";
	font-size: 18px;
	color: #fff;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.footer-links:hover {
	text-decoration: none;
	color: #3195c9;
}

/* BTN DECORATION */
.btn {
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.btn-portfolio {
	background-color: #ebc985;
	margin: 0 5px;
	text-transform: uppercase;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.btn-portfolio:hover {
	background-color: #fff;
}

.active-btn {
	background-color: #fff;
	border: none;
}

.welcome_capt {
	padding-top: 240px;
	padding-bottom: 60px;
}

.btn-orange {
	font-family: "TitilliumWebSemibold";
	font-size: 14px;
	color: #f7f3ea;
	padding: 1rem 3rem;
	background-color: #eb7d4b;
	text-transform: uppercase;
}

.btn-green {
	font-family: "TitilliumWebSemibold";
	font-size: 14px;
	color: #f7f3ea;
	padding: 1rem 3rem;
	background-color: #17c2a4;
	text-transform: uppercase;
}

.btn-blue {
	font-family: "TitilliumWebSemibold";
	font-size: 14px;
	color: #f7f3ea;
	padding: 1rem 3rem;
	background-color: #30bae7;
	text-transform: uppercase;
}

/* DIV DECORATION */
.text-center {
	text-align: center;
}

.row {
	margin: 0;
}

.pad {
	padding: 120px 0;
}

.card_img {
	width: 100%;
}

.form-control {
	border: none;
	background-color: #273a71;
}

.form-group input:active {
	background-color: #000;
}

.form-group input::-webkit-input-placeholder, .form-group textarea::-webkit-input-placeholder {
	color: #b1b5bd;
}

.form-group input::-moz-placeholder, .form-group textarea::-moz-placeholder {
	color: #b1b5bd;
}

.form-group input:-ms-input-placeholder, .form-group textarea:-ms-input-placeholder {
	color: #b1b5bd;
}

.form-group input::-ms-input-placeholder, .form-group textarea::-ms-input-placeholder {
	color: #b1b5bd;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
	color: #b1b5bd;
}

/* @MEDIA */
@media (max-width: 2560px) {
	h1 {
		font-size: 55px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 24px;
	}

	.nav-link {
		font-size: 28px;
	}

	p,
  .btn,
  .footer-links {
		font-size: 24px;
	}

	p.capture,
  .services,
  .comment {
		font-size: 24px;
	}

	.form-control {
		font-size: 1.5rem;
	}
}

@media (max-width: 1440px) {
	h1 {
		font-size: 45px;
	}

	h3,h4 {
		font-size: 20px;
	}

	.nav-link {
		font-size: 20px;
	}

	p,
  .btn,
  .footer-links {
		font-size: 18px;
	}

	p.capture,
  .services,
  .comment {
		font-size: 18px;
	}

	.form-control {
		font-size: 1rem;
	}

	.pad {
		padding: 100px 0;
	}
}

@media (max-width: 767px) {
	.nav-link {
		font-size: 20px;
	}

	.card_img {
		margin: 0 auto;
		width: 80%;
	}
}

@media (max-width: 425px) {
	h1 {
		font-size: 35px;
	}

	h3,h4 {
		font-size: 18px;
	}

	.nav-link {
		font-size: 20px;
	}

	p,
  .btn,
  .footer-links {
		font-size: 16px;
	}

	p.capture,
  .services,
  .comment {
		font-size: 16px;
	}

	.form-control {
		font-size: 1rem;
	}

	.welcome_capt {
		padding-top: 160px;
	}

	.pad {
		padding: 80px 0;
	}

	.card_img {
		width: 100%;
	}

	.review_block {
		position: relative;
	}

	.review_absolute {
		position: absolute;
	}

	.review_marg {
		margin-top: 125px;
	}
}
